.login-container {
  width: 500px;
  margin: 50px;
}

h2 {
  margin: 0;
  color: #000;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.in-login {
  width: 300px; 
  padding: 12px; 
  font-size: 14px;
  border: 1px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
}

.in-login::placeholder {
  color: #000000; /* Adjust the color as needed */
}

.hidden-label {
  display: none;
}

.login-button {
  margin-top: 12px;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  padding: 8px 12px; 
  border-radius: 4px;
  cursor: pointer;
  width: 199px;
  align-items: center;
  position: relative;
}

.login-button:hover {
  background-color: #000;
  color: #fff;
}
